## Listy i zakres ##

**Listy**

**Zakres range**

In [1]:
# To jest lista lst
lst = ['mama', 'tata', 'bobas']
print(lst)

['mama', 'tata', 'bobas']

In [2]:
# wypisujemy elementy listy lst 
for e in lst:
    print(e)

mama
tata
bobas

In [3]:
a = 2
b = a + 3
# poniżej notacja skrócona b = b+1:
b += 1
print('a = ', a, '   b= ', b)

a =  2    b=  6

In [4]:
# element trzeci do indeks 2
print(lst[2])

bobas

In [10]:
# length, instrukcja len(lst)
x = len(lst)#to jest instrukcja podająca długość listy

In [11]:
print('dlugosc listy lst= ', x)

dlugosc listy lst=  3

In [12]:
print(a)
print(b)

2
6

In [14]:
# end = "" to koniec wiersza inny niż przejście do nowej linii
print(a, end=', ')
print(b)

2, 6

In [19]:
x = 2
x += 2*x
# x = x + (2*x)
print(x)

6

In [29]:
lista = [2, -1, 0, 9, 14, -10, 8, 4]
print(max(lista))

14

In [30]:
lista.append(4)
print(lista)

[2, -1, 0, 9, 14, -10, 8, 4, 4]

In [27]:
print(min(lista))

-10

In [28]:
lista.pop()
print(lista)

[2, -1, 0, 9, 14, -10, 8, 4, 4]

In [32]:
lista.append('bobas')
print(lista)

[2, -1, 0, 9, 14, -10, 8, 4, 4, 'bobas', 'bobas']

In [34]:
lista.pop()
print(lista)

[2, -1, 0, 9, 14, -10, 8, 4, 4]

In [37]:
# range
for i in range(10):
    print(i, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [40]:
# zad. obliczyć sumę 10 pierszych liczb naturalnych
suma = 0
for e in range(11):
    print(e, end = ', ')
    suma+=e
print()
print('suma 10 pierwszych liczb naturalnych wynosi suma = ', suma)

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
suma 10 pierwszych liczb naturalnych wynosi suma =  55