In [33]:
import pandas as pd
import statistics as st

In [4]:
df = pd.read_excel('C:\\Users\\Wojciech\\Desktop\\ORPEG\\ORPEG zajecia\\2020_21\\informatyka_raporty.xlsx', sheet_name='VIII ramowy')

In [5]:
df

,Lp.,Nazwisko i imię,2020-10-05 00:00:00,2020-10-19 00:00:00,2020-11-30 00:00:00,2020-12-21 00:00:00,2021-01-18 00:00:00,2021-02-08 00:00:00,2021-03-29 00:00:00,2021-04-26 00:00:00,...,Unnamed: 11,Frekwencja,PK1,PK2,PK3,PK4,PK5,Ocena,Słownie,srednia
0,1.0,Agnieszka Anneli Cieniawa,2020-10-05,2020-10-19,NaT,2020-12-21,2021-01-18,2021-02-08,2021-03-29,NaT,...,NaN,0.777778,0.80,0.64,0.56,0.92,NaN,NaN,NaN,0.730
1,2.0,Franciszek Michał Gruźlewski,2020-10-05,2020-10-19,2020-11-30,NaT,2021-01-18,2021-02-08,2021-03-29,2021-04-26,...,NaN,0.777778,0.84,0.84,0.64,0.96,NaN,NaN,NaN,0.730
2,3.0,Jan Łasek,2020-10-05,NaT,2020-11-30,2020-12-21,2021-01-18,2021-02-08,NaT,NaT,...,NaN,0.555556,0.72,0.52,0.85,1.00,0.80,NaN,NaN,0.820
3,4.0,Jarosław Tadeusz Korzeniowski,2020-10-05,2020-10-19,2020-11-30,2020-12-21,2021-01-18,2021-02-08,NaT,2021-04-26,...,NaN,0.777778,0.64,0.60,0.44,0.32,0.30,NaN,NaN,0.778
4,5.0,Juliusz Cegliński,2020-10-05,2020-10-19,NaT,NaT,NaT,NaT,2021-03-29,2021-04-26,...,NaN,0.555556,0.88,0.76,0.88,0.84,NaN,NaN,NaN,0.460
5,6.0,Kalina Jakubczak,2020-10-05,2020-10-19,NaT,2020-12-21,2021-01-18,2021-02-08,2021-03-29,2021-04-26,...,NaN,0.777778,0.84,0.68,0.68,1.00,0.85,NaN,NaN,0.840
6,7.0,Laura Krajewska,2020-10-05,NaT,NaT,NaT,NaT,2021-02-08,2021-03-29,2021-04-26,...,NaN,0.555556,0.44,0.60,NaN,0.16,0.30,NaN,NaN,0.810
7,8.0,Maciej Kandybowicz,2020-10-05,NaT,2020-11-30,2020-12-21,NaT,2021-02-08,2021-03-29,2021-04-26,...,NaN,0.777778,0.76,0.60,0.84,0.88,NaN,NaN,NaN,0.375
8,9.0,Marta Flaczyńska,2020-10-05,2020-10-19,2020-11-30,2020-12-21,2021-01-18,2021-02-08,2021-03-29,2021-04-26,...,NaN,1.000000,0.72,0.68,0.44,0.36,0.65,NaN,NaN,0.770
9,10.0,Sara Amelia Piechura,2020-10-05,NaT,2020-11-30,NaT,NaT,NaT,NaT,NaT,...,NaN,0.222222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.570

In [6]:
def ocena(x):
    if x < .4:
        return 'niedostateczny'
    if x < .56:
        return 'dopuszczający'
    if x <.71:
        return 'dostateczny'
    if x < .86:
        return 'dobry'
    if x < 1:
        return 'bardzo dobry'
    if x == 1:
        return 'celujący'

In [7]:
ocena(.5)

'dopuszczający'

In [9]:
df = df[['Nazwisko i imię', 'Frekwencja', 'srednia']]

In [11]:
df['ocena słownie'] = df['srednia'].apply(ocena)
df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                 Nazwisko i imię  Frekwencja  srednia   ocena słownie
0      Agnieszka Anneli Cieniawa    0.777778    0.730           dobry
1   Franciszek Michał Gruźlewski    0.777778    0.730           dobry
2                      Jan Łasek    0.555556    0.820           dobry
3  Jarosław Tadeusz Korzeniowski    0.777778    0.778           dobry
4              Juliusz Cegliński    0.555556    0.460   dopuszczający
5               Kalina Jakubczak    0.777778    0.840           dobry
6                Laura Krajewska    0.555556    0.810           dobry
7             Maciej Kandybowicz    0.777778    0.375  niedostateczny
8               Marta Flaczyńska    1.000000    0.770           dobry
9           Sara Amelia Piechura    0.222222    0.570     dostateczny

zakres range

działania na listach

analiza elementów listy

analiza skryptów

In [12]:
# 1. range z jedną liczbą
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [18]:
# 2. range z 3 liczbami
for i in range(20,0,-4):
    print(i)

20
16
12
8
4

In [19]:
lst = list(range(-4, 20, 3))

In [20]:
lst

[-4, -1, 2, 5, 8, 11, 14, 17]

In [21]:
lst.append(20)
lst

[-4, -1, 2, 5, 8, 11, 14, 17, 20]

In [22]:
lst.pop()
lst

[-4, -1, 2, 5, 8, 11, 14, 17]

In [34]:
print(st.mean(lst))

6.5

In [36]:
uj = 0
for e in lst:
    if e<0:
        uj += e
print('suma elementów ujemnych wynosi', uj)

suma elementów ujemnych wynosi -5

In [37]:
lt = [-3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
tot = 0
for i in range(len(lt)):
    if lt[i] < 0:
        tot += lt[i]
print(tot)

-6

In [39]:
print(len(lt))

13