## Lekcja 10 - ostatnia ##
**Python 3**

* listy i operacje na listach
* pętle for i while
* range

In [1]:
lst = [2, -3, 4, -9, 0, 9 , 10]
print(lst)

[2, -3, 4, -9, 0, 9, 10]

In [2]:
print(len(lst))

7

In [3]:
# len - od słowa lenght
print(lst[6])

10

In [4]:
print(lst[0])

2

In [6]:
for e in lst:
    print(e, end =' ')

2 -3 4 -9 0 9 10

In [7]:
# pop append
lst.pop()
print(lst)

[2, -3, 4, -9, 0, 9]

In [8]:
lst.append(10)
print(lst)

[2, -3, 4, -9, 0, 9, 10]

In [12]:
for e in lst:
    if e <= 0:
        print(e)
print('koniec listy')

-3
-9
0
koniec listy

In [15]:
# policz sumę elementow dodatnich
suma = 0
for e in lst:
    if e >= 0:
        suma += e
print('suma elementow dodatnich ',suma)

suma elementow dodatnich  25

In [14]:
print(lst)

[2, -3, 4, -9, 0, 9, 10]

In [18]:
# range zakres
for i in range(1, 11):
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [22]:
# ile razy wyswietli sie napis
for e in range(5):
    print(e, '. to jest napis')

0 . to jest napis
1 . to jest napis
2 . to jest napis
3 . to jest napis
4 . to jest napis

In [24]:
# pętla while
j = 1
while j <= 10:
    print(j, '. linijka ')
    j+=1

1 . linijka
2 . linijka
3 . linijka
4 . linijka
5 . linijka
6 . linijka
7 . linijka
8 . linijka
9 . linijka
10 . linijka

In [25]:
# petla nieskonczona
# utworz liste skladajaca się z 3 dodatnich elementow
list = []

In [30]:
k = int(input('podaj liczbe'))
while k < 0:
    k = int(input('podales liczbe ujemna, sprobuj jeszcze raz '))
list.append(k)

podaj liczbe-9
podales liczbe ujemna, sprobuj jeszcze raz -8
podales liczbe ujemna, sprobuj jeszcze raz -7
podales liczbe ujemna, sprobuj jeszcze raz -6
podales liczbe ujemna, sprobuj jeszcze raz 4

In [31]:
print(list)

[2, 8, 4]

In [32]:
# zadanie: napisz program, który oblicza z ilu cyfr składa się liczba
k = int(input('podaj liczbe naturlna '))
while k < 0:
    k = int(input('podales zla liczbe, jeszcze raz   '))
# 123
n = 0
while k > 0:
    k = int(k/10)
    n+=1
print('podana liczba sklada się z ', n , ' cyfr')

podaj liczbe naturlna -9
podales zla liczbe, jeszcze raz   1024
podana liczba sklada się z  4  cyfr

In [33]:
import pandas as pd

In [34]:
df = pd.read_excel('python_dane.xlsx')

In [35]:
df.head(3)

,Lp,Nazwisko,Imię,wiek,wzrost,waga,Język polski,Matematyka,Geografia,Fizyka,Historia,Informatyka,Język angielski,Chemia
0,1,Bęc,Aleksandra,14,175.8,54.7,2,5,2,2,4,3,3,4
1,2,Błazik,Wiktoria,18,174.9,59.2,3,3,5,5,6,5,6,6
2,3,Borys,Hanna,16,160.9,72.8,4,4,6,6,3,6,5,5